<!-- 注销模态 -->
<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="signOutModalTitle">警告</h4>
			</div>
			<div class="modal-body">
				<h4 class="text-center">您确定要退出登录吗？</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button ng-click="signOut()" type="button" class="btn btn-danger">退出</button>
			</div>
		</div>
	</div>
</div>

<nav class="navigation">
	<img class="brand" src="/assets/images/logo.png" srcset="/assets/images/logo@2x.png 2x">
	<div class="account">
		管理员 <div data-toggle="modal" data-target="#signOutModal" class="sign-out"><i class="fa fa-sign-out"></i></div>
	</div>
	<ul class="list">
		<li>
			<a ui-sref="main" ui-sref-active-eq="active" class="item">
				<i class="fa fa-dashboard fa-fw"></i>
				控制面板
			</a>
		</li>
		<li>
			<a ui-sref="main.sites" ui-sref-active="active" class="item">
				<i class="fa fa-star fa-fw"></i>
				站点管理
			</a>
		</li>
		<li>
			<a ui-sref="main.setting" ui-sref-active="active" class="item">
				<i class="fa fa-cogs fa-fw"></i>
				系统设置
			</a>
		</li>
	</ul>
	<div nd-notification ng-show="notificationShow" ng-class="'text-' + type" class="notification">
		<i ng-if="type === 'success'" class="fa fa-check-circle fa-fw"></i>
		<i ng-if="type === 'warning'" class="fa fa-warning fa-fw"></i>
		<i ng-if="type === 'danger'" class="fa fa-times-circle fa-fw"></i>
		{{message}}
	</div>
</nav>